<a
  href="/"
  class="text-sm px-3 py-1
					false
				inline-flex items-center justify-center w-full h-full font-medium text-white rounded-full cursor-pointer group-hover:text-sky-100 bg-slate-950 group-hover:bg-black backdrop-blur-3xl"
>
  <slot name="before" />
  <slot />
  <slot name="after" />
</a>
